@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  letter-spacing: -0.03em;
}

html,
body {
  overflow-x: hidden;
  /* corta cualquier overflow horizontal */
}

/* ----------NAVBAR --------- */
.navbar {
  padding-left: 20px;
  padding-right: 20px;
}


.navbar-nav .nav-link {
  font-family: 'Geist', sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  margin: 0 15px;
  position: relative;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 1);
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 7px;
  left: 0;
  background-color: #000;
  transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

/* ----Carrito---- */
.d-flex a.nav-link {
  color: #000;
  font-weight: normal;
  position: static;
}

.d-flex a.nav-link:hover::after {
  width: 0;
}

.navbar-brand img {
  height: 15px;
}

.navbar .bi-cart3 {
  font-size: 18px;
}


/* ----------CART SIDEBAR--------- */
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -50vw;
  /* fuera de pantalla inicialmente */
  width: 50vw;
  height: 100vh;
  background-color: #fff;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1050;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.cart-sidebar.open {
  right: 0;
}


.cart-close {
  cursor: pointer;
  font-weight: 500;
  color: black;
}

.cart-body {
  flex-grow: 1;
  overflow-y: auto;
}

.cart-item-img {
  width: 15vw;
  height: auto;
  object-fit: cover;
}

.qty-btn {
  padding: 0 8px;
}

.qty-number {
  min-width: 20px;
  text-align: center;
}

.cart-item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cart-item-price {
  margin-bottom: 0.5rem;
}

.cart-item-remove {
  cursor: pointer;
  font-size: 1.2rem;
}


/* ----------MODAL DESCUENTO--------- */
.discount-modal {
  border-radius: 0;
  overflow: hidden;
}

.modal-backdrop.show {
  opacity: 0.7;
}


/* Inputs y botones */
.discount-modal input {
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Solo para el botón de subscribe */
.discount-modal form button {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  padding-block: 0.7rem;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  width: 100%;
}

.discount-modal form button:hover {
  background-color: #F1EA92;
  border: 0.01rem solid #000;
  color: black;
}

.modal-close-btn:hover {
  color: #F1EA92;
}

.modal-close-btn i {
  padding: .5rem;
}
.discount-modal .modal-body {
  display: flex;
  flex-direction: row;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10; /* Garantiza que esté sobre la imagen */
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
}


/* -----------HERO------------- */
.hero {
  position: relative;
  height: 90vh;
  padding: 0 30px;
  overflow: hidden;
}

.hero-logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  z-index: 1;
}

.hero-product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 39vw;
}

.scroll-down {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
  animation: bounce 1.5s infinite;
  font-size: 1.2vw;
}

/* Animación tipo “bounce” scroll down */
@keyframes bounce {

  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(-8px);
  }
}



/* -------IMÁGENES BOTONES------ */
.container-aeronhead3002x {
  padding: 3rem 20px;
}

.color-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.2s, outline 0.2s;
  border: 0.5px solid #000;
}

.color-btn:hover {
  transform: scale(1.2);
}


/* SECCIÓN DE IMÁGENES */
.product-images {
  margin-top: 60px;
  height: auto;
}

/* Wrapper interno para que la imagen ocupe todo el alto de la columna */
.image-wrapper {
  height: 85vh;
}

/* Imagen que ocupa todo el contenedor y se recorta si es necesario */
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.25s ease-in-out;
}




/* ------SLIDER-------- */

.best-sellers {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1vw;
  margin-top: 4vh;
}

.container-custom {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-title {
  margin-top: 3rem;
}

.swiper {
  height: 66vh;
  /* 2/3 del viewport */
  overflow: visible;
}

.swiper-wrapper {
  display: flex;
  /* fila de slides */
}

.swiper-slide {
  flex: 0 0 calc((100% - 40px) / 3);
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 90%;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.product-price {
  font-weight: 400;
}

.product-card img {
  width: 100%;
  height: calc(100% - 30px);
  object-fit: cover;
}



/* -----------OUR STORY--------------- */

.our-story {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.our-story .col-md-6 {
  width: 50%;
  height: 100vh;
}

.p-5 {
  padding: 0px 20px !important;
  position: relative;
  z-index: 1;
}

.story-title {
  padding-top: 3rem;
}

.story-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5vh;
}

.our-story .gif-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}

.our-story .gif-wrap .gif {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}




/* ---------NEWSLETTER----------- */

.newsletter-section {
  height: 50vh;
  /* altura total de la sección */
  display: flex;
  margin: 3rem 20px;
  padding-block: 0;
  /* padding reducido para que ocupe toda la altura */
}


.newsletter-form-wrapper {
  width: 100%;
}

.newsletter-input {
  border: 0.01rem solid #000;
  border-radius: 0;
  padding-block: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
}

.btn-subscribe {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  padding-block: 0.7rem;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  width: 100%;
}

.btn-subscribe:hover {
  background-color: #F1EA92;
  border: 0.01rem solid #000;
}

.subscribe-message {
  color: black;
  display: block;
  visibility: hidden;
}

.subscribe-message.visible {
  visibility: visible;
}

.mb-3 {
  margin-bottom: 0.5rem !important;
  display: flex;
}

.newsletter-section .h-100 {
  height: auto !important;
}


/* ----------FOOTER------------- */

.footer {
  background-color: #fff;
  color: #000;
  padding: 3rem 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* distribuye todo verticalmente */
  height: 100%;
  max-width: 100%;
}

.footer-logo {
  width: calc(100% - 20px);
}

.footer-slogan {
  text-align: center;
  font-weight: 400;
}

.footer-social i {
  font-size: 1.5rem;
  color: #000;
  transition: color 0.3s;
}

.footer-social:hover i {
  color: #555;
}

.footer-links a {
  color: #000;
  text-decoration: none;
  font-weight: 300;
  margin: 5px 0;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.scroll-top i {
  font-size: 2rem;
  color: #000;
  transition: color 0.3s;
}

.scroll-top:hover i {
  color: #555;
}



/* product page------------ */
/* product page------------ */
.hero-2 {
  position: relative;
  height: 100vh;
  background: white;
  overflow: hidden;
}

.hero-content {
  position: relative;
  height: 100vh;
  overflow: visible;
}

/* Producto y título */
.product-name-h1 {
  position: relative;
  top: 0%;
  left: 1.5%;
  font-size: 11vw;
  font-weight: 700;
  color: #000;
  transform-origin: left center;
  max-width: 100%;
}

/* Imagen */
.product-image {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 38vw;
  max-width: 90vw;
  z-index: 2;
  transform: rotate(15deg);
}

.color-btn-product {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  border: 0.5px solid #000;
}

.color-btn-product:hover {
  transform: scale(1.2);
}

/* Precio y acordeón - inicialmente ocultos */
.price-product,
.product-options {
  position: relative;
  left: 2%;
  width: 26vw;
}

.price-product {
  font-size: 3vw;
}

.accordion {
  margin-top: 5vh;
}


/* Acordeón estilizado */
.product-options .accordion-button {
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
  color: #000;
  background: #fff;
  border: none;
  box-shadow: none;
  padding: 1rem;
}

.product-options .accordion-button:focus {
  box-shadow: none;
}

.product-options .accordion-button:not(.collapsed) {
  color: #000;
  background: #ffffff;
}

.product-options .accordion-item {
  border-bottom: 2px solid #000000;
}

.product-options .accordion-body {
  font-family: 'Geist', sans-serif;
  font-size: 1vw;
  color: #000;
  padding: 1rem;
}


.add-to-cart {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  padding-block: 0.7rem;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  width: 100%;
  border: none;
  position: absolute;
  bottom: -2vh;
  left: 0;
  transform: translateY(120%);
}

.add-to-cart:hover {
  background-color: #F1EA92;
  border: 0.01rem solid #000;
  color: #000;
}

/* --- ANIMACIONES FADE IN --- */
.fade-in {
  opacity: 0;
  transform: translateY(25px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* Imagen con zoom leve */
.fade-img {
  transform: translate(-50%, -10%) rotate(15deg) scale(0.96);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-img.show {
  transform: translate(5%, 0%) rotate(15deg) scale(1);
}

/* SECCIÓN DE CHIPS */
.chip-tech {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5vw;
  max-width: 68%;
}

/* COLUMNA IZQUIERDA */
.left-content {
  width: 50%;
  margin-left: -15vw;
}

/* FEATURES */
.features-row {
  display: flex;
  gap: 2vw;
  margin-bottom: 40vh;
  margin-top: 2vh;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-item img {
  width: 5vw;
  height: auto;
}

.feature-item p {
  font-size: 1.2vw;
  font-weight: bold;
  margin-top: 0.6rem;
}

/* TEXTO EXPLICATIVO */
.chip-info {
  font-size: 1.1rem;
  width: 120%;
  margin-bottom: 6vh;
  line-height: 1.5;
  text-align: justify;
}

/* TÍTULO PRINCIPAL */
.chip-title {
  font-size: 11vw;
  font-weight: 700;
  width: 100vw;
  line-height: 0.9;
  z-index: 1;
}

/* COLUMNA DERECHA (CAPAS) */
.right-chips {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  position: relative;
  transform-origin: center;
  transform: rotate(15deg) translateX(7vw);
}

.chip-img {
  width: 75%;
  opacity: 0;
  transform: translateY(60px);
  position: relative;
  z-index: 50;
}

.layer3 {
  z-index: 999;
}


/* REVIEWS------------------ */
.reviews-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

/* COLUMNA IZQUIERDA */
.reviews-left {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin-left: 2vh;
}

.rating-number {
  font-size: 4vw;
  margin-bottom: -2vh;
}

.rating-stars {
  color: #000;
  font-size: 2.5vw;
  margin-bottom: 78vh;
}

.total-reviews {
  font-size: 1.3vw;
  color: #555;
}

/* COLUMNA CENTRAL */
.reviews-center {
  width: 57%;
  display: flex;
  justify-content: center;
}

.reviews-product {
  width: 100%;
  height: auto;
}

/* COLUMNA DERECHA */
.reviews-right {
  width: 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0rem 2rem;
  box-sizing: border-box;
  margin-top: 6vh;
}

/* Contenedor que muestra 4 reviews */
.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.review {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  font-size: 1.3rem;
}

.review .stars {
  color: #FFD700;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.review .author {
  font-weight: bold;
  margin-top: 0.3rem;
}

.reviews-left,
.reviews-center,
.reviews-right {
  box-sizing: border-box;
}

/* PAGINACIÓN */
.reviews-pagination {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.arrow-btn {
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  background: none;
  border: 0px solid #000;
  cursor: pointer;
  transition: 1.2s;
}

.arrow-btn:hover {
  background: #000;
  color: #fff;
}

.pages span {
  margin: 0 1.3vw;
  cursor: pointer;
  font-size: 1.5rem;
}

.pages .active-page {
  font-weight: bold;
  text-decoration: underline;
}

.product-name-carusel {
  font-size: 1.5rem;
}

.product-price-carusel {
  font-size: 1.5rem;
}

.h1-product {
  font-size: 3rem;
}

/* ----------SHOP PAGE---------- */

.shop-section .container {
  max-width: 100%;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 4rem;
}

/* Filters y búsqueda */
.filter-toggle {
  cursor: pointer;
  font-weight: 500;
}

.filter-toggle i {
  font-size: 1.2rem;
}

.search-bar {
  max-width: 300px;
  width: 100%;
}

.search-input {
  border-radius: 0;
  padding-right: 2rem;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

/* Product cards */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 600;
  padding: 0 5px;
}

.product-name {
  font-size: 1rem;
}

.product-price {
  font-weight: 400;
  font-size: 0.95rem;
  color: #555;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}

/* Offcanvas filtros */
.offcanvas {
  width: 250px;
}

.offcanvas-header h5 {
  font-weight: 500;
}

.filter-checkbox {
  margin-right: 10px;
  cursor: pointer;
}

/* Offcanvas botones */

#filterPanel .btn-primary {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  padding-block: 0.7rem;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  width: 48%;
  border: 0.01rem solid #000;
  transition: background 0.3s ease;
}

#filterPanel .btn-primary:hover {
  background-color: #F1EA92;
  border: 0.01rem solid #000;
  color: black;
}

#filterPanel .btn-secondary {
  background-color: white;
  color: black;
  border-radius: 0;
  padding-block: 0.7rem;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  width: 48%;
  border: 0.01rem solid #000;
  transition: background 0.3s ease;
}

#filterPanel .btn-secondary:hover {
  background-color: #F1EA92;
  border: 0.01rem solid #000;
  color: black;
}


/* ----------CONTACT PAGE---------- */



.contact-section {
  width: 100%;
  padding-top: 6rem;
  /* espacio suficiente para que no se solape con el navbar */
}

.contact-left {
  background-color: #fff;
  /* opcional */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-left h1 {
  font-size: 8rem;
  font-weight: 600;
}

.contact-right img {
  width: calc(100% - 20px);
  /* ancho restando padding */
  height: 100%;
  object-fit: cover;
}

/* MEDIA QUERIES */
@media (max-width: 2000px) {
  .footer {
    padding: 10rem 0;
  }
}

@media (max-width: 1700px) {
  .footer {
    padding: 3rem 0;
  }
}

@media (max-width: 1440px) {

  .right-chips {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    position: relative;
    transform-origin: center;
    transform: rotate(15deg) translateX(7vw);
  }

  .rating-stars {
    color: #000;
    font-size: 2.5vw;
    margin-bottom: 87vh;
  }

  .total-reviews {
    font-size: 1.8vw;
    color: #555;
  }

  .our-story .col-md-6 {
    height: 80vh;
  }

  .py-5 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .best-sellers {
    height: auto;
  }
  .h1-product {
    padding-bottom: 4rem;
  }
}


@media (max-width: 1200px) {

  .right-chips {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    position: relative;
    transform-origin: center;
    transform: rotate(15deg) translateX(7vw);
    margin-top: 12vh;
  }

  .hero-product {
    max-width: 45vw;
  }

  .hero-2 {
    height: 90vh;
  }

  .product-options .accordion-button {
    font-family: 'Geist', sans-serif;
    font-weight: 400;
    font-size: 2.2vw;
    color: #000;
    background: #fff;
    border: none;
    box-shadow: none;
    padding: 1rem;
  }

  .product-options .accordion-body {
    font-family: 'Geist', sans-serif;
    font-size: 1.5vw;
    color: #000;
    padding: 1rem;
  }

  .feature-item p {
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 0.6rem;
  }

  .chip-title {
    font-size: 13vw;
    font-weight: 700;
    width: 100vw;
    line-height: 0.9;
    z-index: 1;
  }

  .rating-stars {
    color: #000;
    font-size: 2.5vw;
    margin-bottom: 87vh;
  }

  .total-reviews {
    font-size: 1.8vw;
    color: #555;
  }

  .reviews-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 82vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .newsletter-section .h-100 {
        height: inherit !important;
    }

  .newsletter-section .img-fluid.h-100 {
        height: 100% !important;
  }
}

/* Portátiles pequeños / tablets horizontales */
@media (max-width: 1024px) {

  /* ---------INDEX---------- */

/* Navbar */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }

  .navbar-brand {
    order: 1;
    padding-left: 3.5rem;
  }

  .navbar-toggler {
    order: 2;
    margin-left: 10px;
    /* separarlo un poco del carrito */
  }

  .navbar .bi-cart3 {
    font-size: 23px;
  }

  #navbarNav {
    order: 4;
    width: 100%;
  }

  #navbarNav {
    text-align: center !important;
  }

  #navbarNav .navbar-nav {
    width: 100%;
    justify-content: center !important;
    text-align: center !important;
  }

  #navbarNav .nav-link {
    width: auto;
    text-align: center !important;
    padding: 1rem 0;
    font-size: 1.5rem;
  }


  .product-images-row .col-md-4,
  .product-images-row .col-md-8 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .image-wrapper img {
    object-fit: cover;
    object-position: top;
  }

  .container-aeronhead3002x {
    padding: 0rem 20px;
  }

  .our-story {
    height: 100%;
  }

  .our-story .col-md-6 {
    height: 60vh;
  }


  /* -------CONTACT---------- */
  .contact-section .col-lg-8,
  .contact-section .col-lg-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .contact-right img {
    width: calc(100% - 20px);
    height: 100%;
    object-fit: cover;
  }

  .contact-left h1 {
    font-size: 5rem;
  }


  /* ----------PAGE PRODUCT----------- */


  /* ---------hero----------------- */
  .hero-product {
    max-width: 45vw;
  }

  .hero-2 {
    height: 65vh;
  }

  .product-name-h1 {
    font-size: 11vw;
    top: 3%;
    left: 1%;
    white-space: normal;
  }

  .product-image {
    left: 41%;
    top: 8%;
    transform: translate(-50%, -10%);
    width: 53vw;
  }

  .price-product {
    font-size: clamp(1.6rem, 3.8vw, 3.6rem);
    top: 4%;
  }

  .product-options {
    width: 38%;
    top: calc(var(--title-top, 9vh) + -5vh);
  }

  .accordion {
    margin-top: 2vh;
  }

  .product-options .accordion-button {
    font-family: 'Geist', sans-serif;
    font-weight: 400;
    font-size: 2.2vw;
    color: #000;
    background: #fff;
    border: none;
    box-shadow: none;
    padding: 1rem;
  }

  .product-options .accordion-body {
    font-family: 'Geist', sans-serif;
    font-size: 1.5vw;
    color: #000;
    padding: 1rem;
  }

  /* ---------chips-------- */
  .right-chips {
    transform: rotate(11deg) translateX(8vw);
  }

  .chip-title {
    font-size: clamp(1.8rem, 9vw, 6rem);
  }


  .features-row {
    display: flex;
    gap: 2vw;
    margin-bottom: 12vh;
    margin-top: 2vh;
  }

  .feature-item img {
    width: 7vw;
    height: auto;
  }


  .feature-item p {
    font-size: 1.7vw;
    font-weight: bold;
    margin-top: 0.6rem;
  }


  .chip-info {
    font-size: 1.2rem;
    width: 126%;
    text-align: justify;
    margin-bottom: 6vh;
    line-height: 1.5;
  }

  /* --------2 fotos------------- */
  .image-wrapper {
    height: 50vh;
  }

  .h1-product {
    font-size: 2rem;
    margin-bottom: 3vh;
  }

  /* -------reviews------------ */

  .reviews-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    margin-top: 2vh;
  }

  .reviews-left {
    width: 24%;
  }

  .reviews-center {
    width: 52%;
  }

  .reviews-right {
    width: 80%;
  }

  .rating-stars {
    color: #000;
    font-size: 2.5vw;
    margin-bottom: 81vh;
  }

  .rating-number {
    font-size: 5vw;
    margin-bottom: -10vh;
  }

  .total-reviews {
    font-size: 2.5vw;
    color: #555;
  }

  .reviews-center {
    display: none;
  }

  /* --------slider--------- */
  .container-custom {
    width: 100%;
    height: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .best-sellers {
    height: auto;
  }
}

/* Tablets verticales / móviles grandes */
@media (max-width: 768px) {

  html,
  body {
    overflow-x: hidden;
    /* corta cualquier overflow horizontal */
  }

  

/* Modal */
/* El modal deja de ser dos columnas */
  .discount-modal .modal-body {
    flex-direction: column;
  }

  /* Imagen arriba a width 100% */
  .discount-modal .modal-body > .col-md-6:first-child {
    width: 100%;
    height: auto;
  }

  .discount-modal img.object-fit-cover {
    height: auto !important; /* ANULA EL h-100 */
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  /* Contenido abajo */
  .discount-modal .modal-body > .col-md-6:last-child {
    width: 100%;
    padding: 2rem 1.5rem;
  }

  /* El botón de cierre en móvil */
  .modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }


  /* Cart */
  .cart-sidebar {
    right: -100%;
    width: 100%;
    height: 100%;
  }

  .cart-item-img {
    width: 30vw;
  }

  .fw-bold {
    font-weight: 600;
    font-size: 1.3rem;
  }

  .cart-item-price {
    font-size: 1.5rem;
  }

  .cart-item-remove {
    font-size: 3rem;
  }

  h5 {
    font-size: 1.8rem;
  }

  .cart-close {
    font-size: 1.8rem;
  }

  strong {
    font-size: 1.5rem;
  }

  /* Hero */
  .hero-product {
    max-width: 80vw;
  }

  .scroll-down {
    font-size: 2.5vw;
  }

  .h1-product {
    padding-bottom: 0;
  }

  .our-story .col-md-6 {
    height: auto;
  }

  .scroll-down {
    font-size: 2vw;
  }

  /* -------------CONTACT--------------- */
  .contact-left h1 {
    font-size: 4rem;
  }

  strong {
    font-size: 1.5rem;
  }

  .mb-2 {
    margin-bottom: 0.5rem !important;
    font-size: 3vw;
  }

  /* -------PRODUCT------------  */
  .hero-2 {
    height: 70vh;
  }

  .btn {
    font-size: 2vw;
  }

  .accordion {
    margin-top: 2vh;
  }

  .product-image {
    left: 43%;
    top: 8%;
    transform: translate(-50%, -10%);
    width: 52vw;
  }

  .product-options {
    width: 40%;
    top: calc(var(--title-top, -2vh) + 7vh);
    left: 1%;
  }

  .price-product {
    font-size: clamp(2.3rem, 3.8vw, 3.6rem);
    top: 4%;
  }

  .color-btn-product {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    border: 0.5px solid #000;
  }



  .chip-tech {
    flex-direction: row;
    gap: 3vw;
    padding: 4vh 3vw;
  }

  .chip-title {
    font-size: 12vw;
    margin-top: -7vw;
  }

  .left-content {
    width: 60%;
  }

  .right-chips {
    width: 74%;
    margin-top: 9vh;
    transform: rotate(11deg) translateX(10.6vw);
  }

  .feature-item p {
    font-size: 2vw;
    font-weight: bold;
    margin-top: 0.6rem;
    width: 102%;
  }

  .image-wrapper {
    height: 40vh;
  }

  .mt-5 {
    margin-top: 0vh !important;
  }

  .rating-stars {
    color: #000;
    font-size: 3.5vw;
    margin-bottom: 81vh;
  }

  .rating-number {
    font-size: 6vw;
    margin-bottom: -9vh;
  }

  .total-reviews {
    font-size: 2.5vw;
    color: #555;
  }

  .footer-slogan {
    text-align: center;
    font-weight: 400;
    margin-top: 2vh;
  }

  .best-sellers {
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1vw;
    margin-top: 4vh;
    margin-bottom: -7vh;
  }

  .container-custom {
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* Móviles pequeños */
@media (max-width: 576px) {


  /* -----CONTACT------- */
  .contact-left h1 {
    font-size: 3rem;
  }

  .mb-2 {
    margin-bottom: 0.5rem !important;
    font-size: 4.7vw;
  }


  .contact-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .contact-section .col-lg-8,
  .contact-section .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: normal !important;
    height: 50vh;
    margin-top: -20vh;
  }

  .contact-right {
    order: -1;
    height: 35vh;
    overflow: hidden;
  }

  .contact-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact-left {
    order: 1;
    height: 45vh;
    padding: 20px;
    overflow: hidden;
  }

  .contact-left h1 {
    font-size: 3rem;
    line-height: 1.1;
  }

  .contact-section .col-lg-8, .contact-section .col-lg-4 {
    flex: auto;
  }

  .contact-section .col-lg-8, .contact-section .col-lg-4 {
    margin-top: 0;
  }

  .h-100 {
    height: 122% !important;
  }

  .scroll-down{
    font-size: 5vw;
  }

  .mb-4 {
    margin: 1rem 0;
  }

  .image-wrapper img {
    height: 50vh;
    padding-bottom: 1rem;
  }

  .product-images-row .col-md-4, .product-images-row .col-md-8 {
    max-width: 100%;
  }
  
  .swiper {
    height: auto;
  }

  .container-custom {
    height: auto;
    margin-bottom: 4rem;
  }

  .best-sellers {
    height: 100%;
  }

  .product-name-carusel {
    font-size: 1.1rem;
  }
  .product-price-carusel {
    font-size: 1.1rem;
  }

  .product-card {
    height: auto;
  }

  .our-story .col-md-6 {
    width: 100%;
  }

  .newsletter-section .h-100{
    height: auto !important;
  }

  .footer {
    padding-top: 7rem;
    padding-bottom: 1rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  h2 {
    margin-top: 1rem;
  }

  .cart-close {
    font-size: 1.3rem;
  }

  /* ---------------PRODUCT-------------- */

  .hero-2 {
    height: auto;
  }

  .hero-content {
    height: 120vh;
  }

  .product-options {
    width: 97%;
    top: calc(var(--title-top, -2vh) + 7vh);
    left: 1%;
    margin-top: 17vh 184.144px;
  }

  .product-image {
    left: 37%;
    top: 11%;
    transform: translate(-50%, -10%);
    width: 59vw;
  }

  .price-product {
    font-size: clamp(9vw, 3.8vw, 3.6rem);
    top: 3%;
  }

  .color-btn-product {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    border: 0.5px solid #000;
  }

  .product-options .accordion-button {
    font-family: 'Geist', sans-serif;
    font-weight: 400;
    font-size: 4.2vw;
    color: #000;
    background: #fff;
    border: none;
    box-shadow: none;
    padding: 1rem;
  }

  .product-options .accordion-body {
    font-family: 'Geist', sans-serif;
    font-size: 3.5vw;
    color: #000;
    padding: 1rem;
  }

  .product-options {
    width: 97%;
    top: calc(var(--title-top, 8vh) + 13vh);
    left: 1%;
    margin-top: 17vh 184.144px;
  }

  .btn {
    font-size: 4vw;
  }

  .feature-item img {
    width: 16vw;
    height: auto;
  }

  .features-row {
    display: flex;
    gap: 5vw;
    margin-bottom: 4vh;
    margin-top: 2vh;
  }

  .feature-item p {
    font-size: 3vw;
    font-weight: bold;
    margin-top: 0.6rem;
    width: 100%;
  }

  .chip-title {
    font-size: 14vw;
    margin-top: -7vw;
    margin-left: -1.5vw;
  }

  .chip-info {
    font-size: .9rem;
    width: 148%;
    text-align: justify;
    margin-bottom: 6vh;
    line-height: 1.5;
  }

  .chip-tech {
    flex-direction: column;
    gap: 2.5rem;
    padding: 3vh 4vw;
  }

  .left-content,
  .right-chips {
    width: 100%;
    transform: none;
  }

  .right-chips {
    width: 85%;
    margin-top: 0vh;
    transform: translateX(3.6vw);
    order: 2;
  }

  .left-content {
    order: 1;
  }



  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    flex-direction: column;
  }

  .h1-product {
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  .container-aeronhead3002x {
    padding: 0rem 20px;
    margin-bottom: 3vh;
  }

  .rating-stars {
    color: #000;
    font-size: 3.5vw;
    margin-bottom: 79vh;
  }

  .rating-number {
    font-size: 6vw;
    margin-bottom: -10vh;
  }

  .total-reviews {
    font-size: 2.5vw;
    color: #555;
  }

  .reviews-right {
    width: 100%;
  }

  .rating-stars {
    color: #000;
    font-size: 3.5vw;
    margin-bottom: 70vh;
  }

  .reviews-pagination {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .rating-number {
    font-size: 6vw;
    margin-bottom: -2vh;
    margin-top: 13vh;
  }

  .total-reviews {
    font-size: 3vw;
    color: #555;
    margin-bottom: 3vh;
  }

  .review {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    font-size: 3vw;
  }

  .pages span {
    margin: 0 1.3vw;
    cursor: pointer;
    font-size: 1.2rem;
  }

  .reviews-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    box-sizing: border-box;
  }

  .pages span {
    margin: 0 1.3vw;
    cursor: pointer;
    font-size: 1.2rem;
  }

  .reviews-right {
    margin-top: 0;
  }

  .hero-content {
    padding-top: 5rem;
  }

}